# byte-compiled Python files
*.py[co]


# Packages
bin
develop-eggs
eggs
parts
src/plonetheme.unam.egg-info/
var
.installed.cfg


# Unit test / coverage reports
.coverage
coverage

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
